.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    background: #ccc;
    border-left: 1px solid rgb(66, 86, 122);
    border-right: 1px solid rgb(66, 86, 122);
    .container {
        padding: 100px 100px 0 100px;
    }
}
