.centralContainer {
  max-width: 1440px;
  height: 100vh;
  // margin: 0 auto 0 300px;
  margin: 0 auto;
  border-left: 1px solid rgba(128, 128, 128, 0.5);
  border-right: 1px solid rgba(128, 128, 128, 0.5);
  position: relative;

  @media (max-width: 768px) {
    margin: 0 auto;
    border-left: none;
    border-right: none;
    padding: 20px;
  }
}

.verticalLine,
.horizontalLine {
  position: absolute;
  border-left: 1px solid rgba(128, 128, 128, 0.5);
}

.verticalLine {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  @media (max-width: 780px) {
    display: none;
  }
}

.horizontalLine {
  height: 1px;
  width: 100%;
  top: 410px;
  transform: translateY(-50%);
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  @media (max-width: 780px) {
    top: 292px;
  }
}
