@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.year {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
    color: rgb(56, 119, 238)
}
.descr{
    color: rgb(66, 86, 122);
    font-size: 20px;
}