.dates {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 40px;
  margin-bottom: 70px;
  font-size: 12em;

  .date,
  & > div {
    display: flex;
    color: inherit;
    font-weight: 800;
    text-align: center;

    > div {
      display: inline-block;
      width: 1ch;
      text-align: center;
      position: relative;
    }
  }

  @media (max-width: 1000px) {
    gap: 20px;
    top: 40px;
    font-size: 142px;

    .date {
      flex-direction: row;
      gap: 0.1em;
    }
  }

  @media (max-width: 768px) {
    font-size: 84px;
    margin-top: 30px;
  }
  @media (max-width: 480px) {
    font-size: 64px;
  }
  @media (max-width: 320px) {
    font-size: 56px;
    gap: 10px;

    .date {
      gap: 0.05em;
    }
  }
}
