@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.event {
  background: #ebebeb;
  overflow: hidden;
  .year {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
    color: rgb(56, 119, 238);
    margin-bottom: 10px;
  }
  .descr {
    color: rgb(66, 86, 122);
    font-size: 20px;
    margin-top: 10px;
    height: 100px;
  }

  @media (max-width: 768px) {
    .year {
      font-size: 16px;
      margin-bottom: 6px;
      margin-top: 6px;
    }
    .descr {
      font-size: 14px;
      line-height: 1.6;
      width: 100%;
    }
  }
}
