.title {
  position: relative;
  font-weight: 700;
  font-size: 56px;
  color: #42567A;
  line-height: 120%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: 5px;
    height: 100%;
    background: linear-gradient(#3877EE, #EF5DA8);
  }
}