.title {
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 100px;
  padding-left: 70px;
  font-weight: 700;
  font-size: 56px;
  color: #42567a;
  line-height: 120%;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 8rem;
    background: linear-gradient(#3877ee, #ef5da8);
  }
  @media (max-width: 480px) {
    font-size: 56px;
    padding-left: 20px;
  }
}
